@import "reset";
@import "variables";
@import "themes/swamp";

@font-face {
  font-family: "Do Hyeon";
  src: url("../fonts/DoHyeon-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Marine";
  src: url("../fonts/space-marine.ttf") format("truetype");
}

@font-face {
  font-family: Intro;
  src: url("../fonts/Intro/IntroRust-Base.otf") format("opentype");
}

body {
  font-family: "Do Hyeon";
  overflow: hidden;
}

.colorBg(@color) {
    @current: @color;
    &.inverted {
      @current: ~"@{color}-inverted";
      background: var(@current);
    }
    background: var(@current);
  }

.colorText(@color) {
    @current: @color;
    &.inverted {
      @current: ~"@{color}-inverted";
      color: var(@current);
    }
    color: var(@current);
  }  

.primarybg {
    .colorBg(--primary-color);
}

.secondarybg {
    .colorBg(--secondary-color);
}

.bg-primarybg {
    .colorBg(--bg-color-main);
}

.bg-secondarybg {
    .colorBg(--bg-color-secondary);
}

.itembg {
    .colorBg(--item-color);
}

.item-darkbg {
  .colorBg(--item-dark);
}

.item-mediumbg {
  .colorBg(--item-medium);
}

.darkbg {
  .colorBg(--dark);
}

.warningbg {
  .colorBg(--warning-color)
}

.errorbg {
  .colorBg(--error-color)
}

.primarytext {
  .colorText(--primary-color);
}

.secondarytext {
  .colorText(--secondary-color);
}

.bg-primarytext {
  .colorText(--bg-color-main);
}

.bg-secondarytext {
  .colorText(--bg-color-secondary);
}

.itemtext {
  .colorText(--item-color);
}

.item-darktext {
.colorText(--item-dark);
}

.item-mediumtext {
  .colorText(--item-medium);
}

.darktext {
.colorText(--dark);
}

.errortext {
  .colorText(--error-color)
}

.warningtext {
  .colorText(--warning-color)
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); 
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@media (max-width: 1024px) {
  body {
    overflow-y: auto;
  }
}