.avatar {
    width: 254px;
    height: 254px;
    border-radius: 6px;
}

.details {
    margin: 12px 0 0 35px;
    flex-grow: 1;
}

.description {
    margin-top: 14px;
}

.logo {
    padding: 8px 12px !important;
    border-radius: 8px !important;
}

.stats {
    margin-left: auto;
}

.end {
    margin-left: auto;
}

.textarea {
    max-height: 164px !important;
}