
.layout {
    border-radius: 10px;
    position: relative;
    padding: 20px;
    @media (min-width: 1400) {
        padding: 46px;
    }
}

.spinner {
    transform: scale(1.5);
    position: absolute !important;
    z-index: 100;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}