body.swamp {
    --bg-color-main: #17252A;
    --bg-color-secondary: #2B7A78;

    --item-color: #3AAFA9;
    --item-dark: #1E3036;
    --item-medium: #33525D;
    --item-border: #477281;
    --item-border-lighter: #65a1b7;

    --primary-color: #FEFFFF;
    --secondary-color: #D9D9D9;

    --bg-color-main-inverted: #FEFFFF;
    --bg-color-secondary-inverted: #D9D9D9;

    --primary-color-inverted: #17252A;
    --secondary-color-inverted: #2B7A78;

    --dark: #0a1113;

    --error-color: #973636;
    --warning-color: #9B8F53;

    --highlight-dark: #2C3B2F;
    --highlight-light: #78a481;

}
