.m1 {
    margin: 2.7rem 0 2.5rem 0;
}

.m2 {
    margin: 2.4rem 0;
}

.m3 {
    margin: 2rem 0;
}

.m4 {
    margin: 1.2rem 0;
}

.h1 {
    font: var(--font-xl);
}

.h2 {
    font: var(--font-l);
}

.h3 {
    font: var(--font-m);
}

.h4 {
    font: var(--font-s);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}